<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Real Estate Intelligence</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="hero">
        <h1>Real Estate Intelligence</h1>
        <p>Enterprise-grade AI document retrieval system</p>
      </div>

      <div class="card">
        <h2>Upload Document</h2>
        <input type="file" id="pdfFile" multiple />
        <div id="fileList" style="margin-top: 10px; color: white"></div>

        <button onclick="uploaddocument()" class="primary-btn">
          Do Emebbings
        </button>
        <p id="uploadStatus"></p>
      </div>

      <div class="card">
        <h2>Conversation</h2>

        <div id="chatBox" class="chat-box">
          <div class="chat-message ai">
            👋 Upload a document and start asking multiple questions.
          </div>
        </div>

        <div class="chat-input-area">
          <input
            type="text"
            id="chatInput"
            placeholder="Ask follow-up question..."
          />
          <button onclick="sendChatMessage()()" class="primary-btn">
            Send
          </button>
        </div>
      </div>
    </div>

    <script src="/static/script_v1.js"></script>
  </body>
</html>
